# игнорировать все файлы в каталоге tmp/
tmp/
# не обрабатывать файлы, имя которых заканчивается на _old
*_old
# не обрабатывать файлы, имя которых заканчивается на _backup
*_backup
#будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db
#будут игнорироваться все файлы и каталоги c расширением .DS_Store
*.DS_Store